---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About | Gareth le Grange - Front-end Developer">
  <h1 class="font-serif text-5xl mb-8">About</h1>

  <p class="text-slate-800 text-lg mb-6">
    Hi, I'm Gareth, an <strong>experienced</strong> front-end developer with a
    passion for creating engaging &amp; <strong>user-friendly</strong> websites and applications.
  </p>

  <p class="text-slate-800 text-lg mb-6">
    I am currently a senior front-end developer at <strong>Webafrica</strong>,
    based remotely in Muizenberg, South Africa.
  </p>

  <p class="text-slate-800 text-lg">
    Away from the keyboard, I am a husband to a beautiful wife and father to two
    daughters - aged 15 and 2 months :)
  </p>
</Layout>
