---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Me from "@images/me.jpeg";
---

<Layout title="About | Gareth le Grange - Front-end Developer">
  <h1 class="font-serif text-5xl mb-8">About</h1>

  <div class="max-w-xs px-2.5 lg:max-w-none float-right lg:ml-8 mb-4 lg:mb-8">
    <Image
      src={Me}
      alt="Me"
      class="aspect-square rotate-3 rounded-2xl object-cover border border-amber-100"
    />
  </div>

  <p class="text-slate-800 text-lg mb-6">
    I am a dedicated and <strong>experienced front-end developer</strong>
     with a passion for creating engaging and user-friendly websites and
    applications. With a strong background in <strong>HTML</strong>, <strong
      >CSS</strong
    >, <strong>JavaScript</strong> and <strong>React</strong>, I have worked on
    projects ranging from building new features to maintaining and optimizing
    existing sites. I have also had the opportunity to work with various teams,
    providing guidance and support to other developers and helping to set up new
    front-end technology stacks and processes.
  </p>

  <p class="text-slate-800 text-lg mb-6">
    Outside of work, my family is my main source of inspiration and joy. I am a
    husband to an amazing wife and a proud father to two daughters - aged 15 and
    a newborn. In my free time, I enjoy watching movies and sport such as
    Brazilian jiu-jitsu, mma and football (soccer).
  </p>

  <p class="text-slate-800 text-lg mb-6">
    Overall, I am committed to staying up-to-date with the latest front-end
    development trends and technologies, and to delivering high-quality work
    that meets the needs of users and clients alike.
  </p>

  <p
    class="text-lg border border-slate-800 bg-slate-800 p-8 rounded-3xl text-amber-50"
  >
    If you need a website, or have a project you would like to discuss, please
    get in touch at garethlegrange [at] gmail [dot] com.
  </p>
</Layout>
