---
import Layout from "../layouts/Layout.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Gareth le Grange - Front-end Developer">
  <h1
    class="font-serif text-4xl lg:text-7xl tracking-tight !leading-tight text-slate-950 mb-6 lg:mb-12"
  >
    <span>👋</span> Hi, I'm Gareth, an <span id="e1">experienced</span>
    front-end developer with a passion for creating engaging &amp; <span
      id="e2"
      class="text-nowrap">user-friendly</span
    > websites and applications.
  </h1>

  <p class="text-slate-800 lg:text-lg mb-6">
    I am currently a senior front-end developer at <strong>Webafrica</strong>,
    based remotely in Muizenberg, South Africa.
  </p>

  <Contact />
</Layout>

<script type="module">
  import { annotate } from "https://unpkg.com/rough-notation?module";

  const e1 = document.querySelector("#e1");
  const annotation1 = annotate(e1, { type: "underline", color: "#ef4444" });
  annotation1.show();

  const e2 = document.querySelector("#e2");
  const annotation2 = annotate(e2, { type: "underline", color: "#ef4444" });
  annotation2.show();
</script>
