---
import { Image } from "astro:assets";
import Gareth from "@images/gareth.svg";
---

<header class="flex items-center gap-6">
  <a href="/"><Image src={Gareth} alt="Gareth's logo" class="w-32 lg:w-48" /></a>
  <nav class="flex gap-3 ml-auto text-sm">
    <a href="/about/">About</a>
    <a href="/contact/">Contact</a>
  </nav>
</header>
