---
import { Image } from "astro:assets";
import Gareth from "@images/gareth.svg";

const current = Astro.url.pathname;
---

<header class="flex items-center gap-6">
  <a href="/"><Image src={Gareth} alt="Gareth's logo" class="w-32 lg:w-48" /></a
  >
  <button></button>
  <nav class="flex gap-3 ml-auto">
    <a
      href="/about/"
      class={current === "/about/" ? "font-bold" : ""}
      id={current === "/about/" ? "box" : ""}>About</a
    >
    <a
      href="/contact/"
      class={current === "/contact/" ? "font-bold" : ""}
      id={current === "/contact/" ? "box" : ""}>Contact</a
    >
  </nav>
</header>